body{
    background-color:antiquewhite;
}
 
.heart
{
    border: 50px;
    border-color: black;
    height: 100px;
    width: 100px;
    background-color:red;
    margin: 200px;
    position: relative;
    transform: rotate(45deg);
    

}
.heart::after,
.heart::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    background-color:red;
    border-radius: 50%;

}
.heart::after
{
   bottom: 50px;
}
.heart::before
{
   right: 50px;
}
